{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}
    <p class="dh">{{destination.name}}</p>
    <p class="des">{{destination.description}}</p>
    <p class="des">{{destination.activities}}</p>
    <p><img src="{{destination.pretty_picture.url}}"></p>
    <p class="seas">{{destination.optimal_visiting_season}}</p>
    <a class="btn btn-primary"href="{% url 'destination-update' destination.id %}">Update</a>
    <a class="btn btn-primary" href="{% url 'destination-delete' destination.id %}">Delete</a>
{% endblock content %}